.a3 {
 position: absolute;
  top: 20px;
  left: 500px;
  width: 20%;
}

body {
background-color: black;
}

div {
text-align: center;
}

p {
font-family: Verdana;
font-size: 30px;
color: white;
}

h1 {
font-family: Verdana;
font-size: 19px;
color: white;
text-align: center;
}

div {
text-align: center;
}
